<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Doc's & Parcels</title>
	<meta name="description" content="Daffy is a Dashboard & Admin Site Responsive Template by hencework." />
	<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Daffy Admin, Daffyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="/static/full-width-dark/favicon.ico">
	<link rel="icon" href="/static/full-width-dark/favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/static/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- Toast CSS -->
	<link href="/static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">
		
	<!-- Custom CSS -->
	<link href="/static/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
    <div class="wrapper  theme-6-active pimary-color-pink">
		
		<div id="navbar-container"></div>
				
		<div id="sidebar-container"></div>

        <div id="right-sidebar-container"></div>
		
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/static/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/static/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/static/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="/static/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
	<script src="/static/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	<script src="/static/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	<script src="/static/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	<script src="/static/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
	<script src="/static/vendors/echarts-liquidfill.min.js"></script>
	<script src="/static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/static/dist/js/jquery.slimscroll.js"></script>
	<script src="/static/dist/js/dropdown-bootstrap-extended.js"></script>
	<script src="/static/dist/js/init.js"></script>
	<script src="/static/dist/js/dashboard-data.js"></script>
	<script src="/static/dist/js/loader.js"></script>
</body>

</html>